
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background-image: url('images/jtc-cookies-hero.jpg');
}

.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #f58220;
}

.imageContainer {
  float: left;
  width: 620px;
}

.textContainer {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 64px;
  color: yellow;
}
li {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: brown;
}
p {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: red;
}




/* ---- Advanced ---- */
/* This tag is a bit advanced for this lesson,
   but is needed to wrap the pageContainer
   around any sized content that is floated within it. */

.pageContainer:after {
  content: " ";
  display: table;
  clear: both;
}
